.container {
  width: 900px;
  height: 400px;
  background-color: blue;
  border: 3px solid BLACK;
  margin: 90px auto;
  position: relative;
}
.ball{
    width: 20px;
    height: 20px;
    background-color: brown;
    border-radius: 50%;
    /* border-radius: 100% 12% 100% 12%; */
    position: absolute;
    /* top: 10px; */
    /* left: 10px; */
    animation: move 5s ease-in-out infinite;
    transition: all 3s ease-in-out;
}
.container:hover .ball{
    animation-play-state: paused ;
}
@keyframes move{
    0%{
        border-radius: 50%;
transform:translat(0,0);
;
    }
    
    25%{
transform:rotate(30deg) translate(280px,280px) ;
border-radius:50%;

    }
    26%{
     /* transform:rotatex(0deg)translate(280px,280px)  ;    */
     border-radius: 100% 0% 100% 0%;

    }
    31%{
        border-radius: 50%;
    }
    50%{
        transform:rotate(60deg) translate(200px,-200px);
        border-radius: 50%
    }
    75%{
        transform:rotate(90deg) translate(380px,-400px);
        border-radius: 50%;
    }
    76%{
        
        border-radius: 100% 30% 100% 30%;
    }
    79%{
        border-radius: 50%;
    }
    80%{
        transform:rotate(100deg) translate( 50px,-500px);
        border-radius: 50%;
    }
    98%{
        transform:rotate(120deg) translate(10px,-750px);
    }
    99%{
        border-radius: 50%;
    }
    100%{
        border-radius: 50%;
    }
}
