body{
    background-image: url(assets/duplicitous-ball-in-the-court-7yj4wqmbaxc4yqxn\ \(3\).jpg);
    background-size: 1554px;
    background-repeat: repeat;
    background-position: top;

}
/*CONTAINER CSS [START]*/
.container {
  width: 900px;
  height: 400px;
  margin: 20px auto;
  position: relative;
  background-image: url(assets/basketball-court-pictures-so9uos00f5wbt0m4.jpg);
  background-size: contain;
  background-repeat: round;
  background-position: top;
  background-position-x: left; 
}
/*CONTAINER CSS [END]*/

/*BALL CSS [START]*/
.ball {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  background-image: url(assets/basketball-g043a7f170_640.png);
  background-size: contain;
  background-repeat: repeat;
  background-position: top;
  background-position-x: left;
  transition: all 3s ease-in-out ;
}
/*BALL CSS [END]*/

/*HOVER CONTAINER BALL [START]*/
.container:hover .ball {
  animation: move 13s ease-in-out 1 2s;
}
/*HOVER CONTAINER BALL [END]*/


/*ANIMATION MOVE NAME [START]*/
@keyframes move {
  0% {
 
    border-radius: 50%;
  }
  5% {
    border-radius: 50%;
    transform: translateX(45px);
  }
  10% {
    border-radius: 50%;
    transform: translateX(45px);
  }
  24% {
  }
  15% {
    transform: rotate(30deg) translate(280px, 280px);
    border-radius: 50%;
  }
  16% {
    border-radius: 100% 0% 100% 0%;
  }
  17%{
    border-radius: 50%;
  }
  25% {
    border-radius: 50%;
  }
  30% {
    transform: rotate(60deg) translate(200px, -200px);
    border-radius: 50%;
  }
  55% {
    transform: rotate(90deg) translate(380px, -400px);
    border-radius: 50%;
  }
  56% {
    border-radius: 100% 30% 100% 30%;
  }
  57% {
    border-radius: 50%;
  }
  60% {
    transform: rotate(100deg) translate(50px, -500px);
    border-radius: 50%;
  }
  66% {
    border-radius: 50%;
  }
  67% {
    transform: rotate(120deg) translate(10px, -750px);
    border-radius: 40% 100% 40% 100%;
  }
  68% {
    border-radius: 50%;
  }

  77% {
    transform: rotate(130deg) translatex(-300px) translatey(-650px);
  }
  78% {
    border-radius: 50%;
  }
  79% {
    transform: rotate(170deg) translate(-750px, -520px);
    border-radius: 50%;
  }
  90%{
    transform: translate(840px, 330px)
  }
  92%{
    transform: translate(860px, 380px)
  }
  93%{
    transform: translate(880px, 380px)
  }
  95% {
    transform: translate(880px, 380px);
  }
  100% {
    transform: translate(880px, 380px);
  }
}
/*ANIMATION MOVE NAME [END]*/

/*JORDAN IMG [START]*/
.jordan img{
  width: 155px;
  height: 333px;
  position: absolute;
  left: -634px;
  top: -500px;
  transition: all 3s ease-in-out;
}
/*JORDAN IMG [END]*/

/*JORDAN IMG HOVER [START]*/
.container:hover .jordan{
  animation: koby 2s ease-in-out 1 forwards;
}
/*JORDAN IMG HOVER [END]*/

/*JORDAN ANIMATION KOBY NAME [START]*/
@keyframes koby{
  0%{
    
  }
  100%{
    transform: translate(500px,500px);
  }
}
/*JORDAN ANIMATION KOBY NAME [END]*/